.tab {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    opacity: 1;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: auto;

    &.is-fading-out {
        animation: nivixFadeOut var(--transition) forwards;
    }

    &.is-fading-in {
        animation: nivixFadeIn var(--transition) forwards;
    }

    &.previsible-flex {
        display: flex;
    }
}

.sub-tab-container .tab {
    position: unset;
}